// Specific CSS for your home-page
body {
  background-color: rgb(72, 7, 33);
}

.form {
  border-radius: 50px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.288);
  margin-top: -275px;
}

.table-link {
  text-decoration: none;
  color: black;
}

.table-link:hover {
  text-decoration: none;
  color: rgb(228, 31, 67);
}

.overlay {
  margin-top: -75px;
  background-color: white;
  border-radius: 50px;
  padding: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.288);
}

.table-card {
  border-radius: 50px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.288);
  margin-top: -275px;
  // width: 1400px;
}
