<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <div>
      <h1 class="text-white">Thanks for registering your details <%= @lead.name %>!</h1>
    </div>
  </div>
  <div class="mt-5 d-flex justify-content-center">
    <div class="mt-5">
      <%= link_to 'Add another registration', new_lead_path(@lead), class: 'btn-big' %>
    </div>
  </div>
</div>
