
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://staticg.sportskeeda.com/editor/2022/02/af653-16442505538786-1920.jpg)">
</div>
<div class="container">
  <div>
    <div class="d-flex justify-content-center">
      <h1 class="overlay">Welcome to [insert logo here] !</h1>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="mt-5">
      <h3 class='text-white'>Register your details with us and watch your career take flight... <i class="fa-solid fa-arrow-down fa-bounce"></i></h3>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5 mb-5">
    <div>
      <%= link_to 'Click here to register', new_lead_path(@lead), class: 'btn-big' %>
    </div>
  </div>
</div>
